<%= form_for @recipe do |f| %>
  <div id="articulo">
    <%= f.label 'Titulo' %><br>
    <%= f.text_field :titulo %><br>

    <%= f.label 'Descripcion' %><br>
    <%= f.text_area :descripcion %><br>

    <%= f.label 'Ingredientes' %><br>
    <%= f.text_area :ingredientes%><br>

    <%= f.label 'Pasos' %><br>
    <%= f.text_area :cuerpo %><br>

    <%= f.submit "Editar", style:"margin-left:20%" %>
  </div>
<% end %>
