<div id="receta">
  <p id="notice"><%= notice %></p>
  <div class="cuerpo">
    <div class="titulo">
      <h1><%= @recipe.titulo %></h1>
      <h6><%= link_to @recipe.category.nombre, @recipe.category, class:"categ" %></h6><hr>
      <br><h5><%= @recipe.user.nombre %> <%= @recipe.user.apellido %></h5><h6><%= link_to "ver mas recetas suyas", @recipe.user, class:'user' %></h6>
    </div>
    <% if @recipe.photo.present? %>
  <p style="text-align:center"><%= image_tag @recipe.photo.url(:medium) %></p>
  <% end %>
    <div class="descript">
      <br><br><h3>Descripcion:</h3>
      <p><%= @recipe.descripcion %></p>
    </div>
    <div class="cuerpo-ingredientes">
      <ol>
        <div class="subtitulo">
          <h3>Ingredientes</h3>
        </div>
        <% @ing = @recipe.ingredientes.split("\n")%>
        <% @ing.each do |f| %>
        <br><li>&#9733 <%= f %></li>
        <% end %>
      </ol>
    </div>
    <div class="cuerpo-pasos">
      <ol>
        <div class="subtitulo">
          <h3>Pasos</h3>
        </div>
        <% @pasos = @recipe.cuerpo.split("\n") %>
        <% @pasos.each do |f| %>
        <br><li><%= f %></li><br>
        <% end %>
      </ol>
    </div>
    <%= link_to "Añadir a Favoritos", favorite_recipe_path(@recipe, type: "favorite"), style:"padding: 3.35%", method: :put %>
  </div>
  </div>
