<% @recipe = Recipe.last(8) %>
<div id="todas">
  <div class="titulo">
    <h1>Ultimas Recetas </h1>
  </div>
  <% @recipe.each do |f| %>
  <div class="mostrar">
    <ol>
    <li class="title"><h2><%=link_to f.titulo, f, class:'tit'%></h2></li>
    <li class="categ"><h5><%= f.category.nombre %></h5></li>
    <li class="user"><h6><%= f.user.nombre %> <%= f.user.apellido %></h6><% if f.photo.present? %>
    <%= image_tag f.photo.url(:thumb), style:"margin-left:85%" %>
  <% end %></li>
    <li class="descript"><p><%= truncate (f.descripcion), length: 5000 %></p></li>
    </ol>
  </div>
  <% end %>
</div>
