<div id="todas">
  <div class="titulo">
    <h1><%= @category.nombre %></h1>
  </div>
  <div class="busqueda">
    <%= form_tag(recipes_path, :method => 'get', class:"my-2 my-lg-0") do %>
    <%= text_field_tag :titulo, params[:titulo], class:" busc mr-sm-2", placeholder:"Busca tu receta" %>
    <%= submit_tag 'Buscar', name: nil, class:"my-2 my-sm-0", style:"width: inherit; background-color:inherit;" %>
    <% end %>
  </div>
  <% @recipe = Recipe.where(category_id: @category).order("created_at DESC") %>
  <% @recipe.each do |f| %>
  <div class="mostrar">
    <ol>
    <li class="title"><h2><%=link_to f.titulo, f, class:'tit'%></h2></li>
    <li class="categ"><h5><%= f.category.nombre %></h5></li>
    <li class="user"><h6><%= f.user.nombre %> <%= f.user.apellido %></h6><% if f.photo.present? %>
    <%= image_tag f.photo.url(:thumb), style:"margin-left:50%; margin-right:auto" %>
  <% end %></li>
    <li class="descript"><p><%= truncate (f.descripcion), length: 5000 %></p></li>
    </ol>
  </div>
  <% end %>
</div>
